<!-- <3 <3 <3 <3 -->
<!-- <3 <3 <3 <3 -->
<!-- <3 <3 <3 <3 -->
<!-- Worked on with love. E + R. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eve + Robert </title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/00ef62f0-77b7-4ff3-9a8b-facf36401955%2Fsavethedate_rose.jpg?1539540154480" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900i" rel="stylesheet">
  
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.js"></script>
    <script src="/confetti.js"></script>
  </head>
  <body>
    <header>
      <h1>
        We are very excited to invite you!
      </h1>
    </header>
    

    <main>
    
      
      <p>August 3rd 2019.</p>
      <p>Franklin, NY.</p>
      <p>Save the date!</p>
      <p><a href="/tellmemore">More info.</a></p>
      
    <img class="roseimg" src="https://cdn.glitch.com/00ef62f0-77b7-4ff3-9a8b-facf36401955%2Fsavethedateintransparentblue.png?1540760266484" alt="Blue rose saying save the date for Robert and Eve's wedding.">
      
    </main>
    <div id="confetti"></div>

  
  </body>
</html>
