<!-- <3 <3 <3 <3 -->
<!-- <3 <3 <3 <3 -->
<!-- <3 <3 <3 <3 -->
<!-- Worked on with love. E + R. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eve + Robert </title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/00ef62f0-77b7-4ff3-9a8b-facf36401955%2Fsavethedate_rose.jpg?1539540154480" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900i" rel="stylesheet">

    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
    </header>
    

    <main>
      <div class="invitemenu">
<!--             <div class="menutitle"> -->
              <img src="https://cdn.glitch.com/00ef62f0-77b7-4ff3-9a8b-facf36401955%2Fsavethedate_rose.jpg?1539540154480" alt="Blue rose" class="rosemenuicon">
<!--             </div> -->
        <button class="accordion">Franklin Chthonics</button>
          <div class="panel">
              <p>Franklin Chthonics is the name of the gorgeous 270 acre Catskills property where we will be holding our ceremony. It’s also host to a number of wonderful events throughout the year. To learn more about the space, visit their site: <a href="https://www.franklinchthonics.com/" target="_blank">https://www.franklinchthonics.com/</a>
</p>
          </div>
        <button class="accordion">Traveling to Franklin</button>
          <div class="panel">
              <p>The farmhouse’s address is 1904 Bennett Hollow Rd. Franklin, NY 13775. It is about a 4 hour drive from New York City. If traveling from outside the New York area, the closest airport to fly into is Albany, which is about 2 hours away.
              </p>
          </div>
        <button class="accordion">Staying by Franklin</button>
          <div class="panel">
              <p>All guests are welcome to bring tents and camp on the property where the wedding will be held, just let us know if that’s what you plan to do so that we can give the owners an estimate. We’ve done it many times and can wholeheartedly recommend it!</p>
              <br>
              <p>If camping before a formal occasion is not something you’re interested in, check out <a href="https://www.airbnb.com/wishlists/328640623/join?invite_code=YRQOUNPU&inviter_id=7651224" target="_blank">this list</a> of recommended Air BnBs nearby.</p>
              <br>
              <p>
                If staying in an Air BnB isn’t your thing either, there are a few hotels in Oneonta. We are in the process of compiling recommendations, but please be in touch on what you're thinking.
            </p>
          </div>
        <button class="accordion">Even More Info</button>
          <div class="panel">
              <p>
                Full set of info (schedule, etc) coming soon. But please don't hesitate be in touch if you have questions!!
            </p>
            </div>
        <a class="roselink" href="/">♡ Eve + Robert</a>

      </div>
      
      

    </main>
  </body>
</html>
