/* styles */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-weight: 900;
  font-style: italic;
  color: #3461E5;
}



p {
  max-width: 600px;
  margin: 3px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

img {
    height: 60%;
    width: 60%;
    margin-top: 20px;
}


.rosemenuicon {
  height:5%;
  width:5%;
  margin-top: 0px;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  
.rosemenuicon {
  height: 20%;
  width:20%;
    }
}
.invitemenu{
  display: flex;
  flex-direction: column;
}

.menutitle {
  display: flex;
  flex-direction: row;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: white;
    color: black;
    padding-left: 0px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #B7D6F4;
    color:white;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px 8px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}



/* unvisited link */
a:link {
    color: black;
    border-bottom: 4px solid;
    border-color: #B7D6F4;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    border-bottom: 4px solid;
    border-color: #B7D6F4;
    text-decoration: none;
    
}

/* mouse over link */
a:hover {
    color: white;
    background-color: #B7D6F4;
}

/* selected link */
a:active {
    color: white;
    background-color: #3461E5;
    text-decoration: none;

}

.roselink {
  border-color: white !important;
  
}

.roselink :hover {
  background-color: white !important;
}

#confetti{
	background: white;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -1;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
